
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
     <!-- nav css -->

     <link rel="stylesheet" href="/css/navbar_home.css">
    <title>Purplle Login </title>
    <link rel="icon" href="https://media6.ppl-media.com/mediafiles/ecomm/misc/purplle-16x16.png">

    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <style>
      
      body{
        background-color: rgb(223, 223, 223);
      }
      .btn-primary{
        background-color: #e40980;
        padding: 2.5%;
      }
      .btn-primary:hover{
        background-color: #ec2994;
       
      }
      .btn-primary:active{
        background-color: #ec2994;
      }
       a{
        color: #e40980;
        text-decoration: none;
       }
 
.btn-google{
	display: inline-block;
	border-radius: 1px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	transition: background-color .218s, border-color .218s ,box-shadow .218s;
  margin-left: 1rem;
  width: 100%;
		height: 30%;
    margin: auto;
}

	.google-content{
    display: flex;
		align-items: center;
		/* width: 100%;
		height: 30%; */
    
  }
	
		.logo{
      padding: 0.7rem;
			height: inherit
    }
		
		svg{
      width: 18px;
			height: 18px
    }
		
		p{
      width: 100%;
			line-height: 1;
			letter-spacing: .21px;
			text-align: center;
			font-weight: 500;
			font-family: 'Roboto', sans-serif
    }
		.lead{
      font-size: 1.0rem;
      color: grey;
    }
	
.btn-google{
  background: #FFF
}
.btn-google:hover{
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3)
}
a{
  text-decoration: none;
}
	.google-content p{
    color: #757575;
    padding-top:0.8rem
  }
.btn-google:hover{
    text-decoration: none;

  } 
  .card{
    width: 58%;
    margin: auto;
  }
  

.card-body {
  padding: 2rem;
}

    </style>
  
  </head>
<body>
  
<!-- nav div -->

<div id="thatDiv"></div>


<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <!-- <i class="fas fa-user-plus"></i> Register -->
     
       <img src="https://media4.ppl-media.com/static/purplle/img/purplle-logo-1.svg"> 
       <!-- Register -->
      </h1>
      <%- include ("./partials/messages") %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>

 
    </div>
  
  </div>

</div>




<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"
></script>
</body>
</html>

<script type="module">

  import nav from '/navbar.js';
  
  var div = document.getElementById("thatDiv");
  
  console.log(nav)
  
  div.innerHTML = nav();
  
  
  </script>